/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: clean, sans-serif;
}
/* Globals */
a {text-decoration: none; color: #1A155A; }
a:hover {text-decoration: underline;}
h1,h2 {font-family: georgia, serif;}
h1 {font-size: 1.5em;margin-bottom: 5%;}
h2 {font-size: 1.25em;margin-bottom: .6em;}
p {font-size: 1em;margin-bottom: 1em; line-height: 1.2em;}
.page-title {font-size: 26px;text-align: center;}
.container {margin: 5% auto;width: 90%;}

/* ====== CUT ALL ABOVE THIS LINE FOR USE IN PROJECTS ===== */

/* Typography =============== */

.flexNav-nav li {
	text-align: left;
	line-height: 1;
}
a:hover {
	text-decoration: none;
}
.flexNav-nav .top-level > a {
	color: #B5B5BB; /* light grey blue */
	text-decoration: none;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.flexNav-nav .top-level > a:hover {
	color: #5f5f5f; /* dark grey */
}
.flexNav-nav .sub-menu li:hover,
.flexNav-nav .sub-menu-no-tog li:hover {
	background-color: #76B900; /* lime green for selection */
}
.sub-menu a,
.sub-menu-no-tog a {
	color: white; /* text color for sub menus */
}

/* Structure ================ */

.flexNav-nav {
	margin: 0 auto;
	width: 100%;
	background-color: #333;
	clear: both; /* to clear .menu-button */
}
.flexNav-touch .flexNav-nav,
.flexNav-no-touch .flexNav-nav {
	display: none;
}
.flexNav-nav:after { /* clearfix */
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.menu-button {
	width: 6.5em;
	float: right;
	display: block;
	padding: 1em;
	background: #000;
	color: #fff;
	cursor: pointer;
	text-align: right;
	position: relative;
}
.menu-button:after {
	content: "☰";
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: .3em 4.3em;
}
.flexNav-nav li {
	position: relative;
	list-style: none;
	display: block;
	background-color: #333;
	width: 100%;
}
.flexNav-nav li a {
	display: block;
}
.flexNav-nav .top-level a {
	position: relative;
	padding: 1em;
	z-index: 2;
}
.flexNav-nav li ul {
	width: 100%;
	position: relative;
}
.flexNav-nav li ul li {
	width: 100%;
	background-color: #444;
}
.flexNav-nav .item-with-ul:after {
	content: '+';
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 1.5em;
	padding: 0.25em 0.5em;
	color: #cdcdcd;
}
.flexNav-nav .item-with-ul.active:after {
	content: "-";
}
.flexNav-no-js .flexNav-nav .item-with-ul:after {
	content: '';
}
.sub-menu,
.sub-menu-no-tog {
	display: none;
}

@media all and (min-width: 64em) {
	p {font-size: 100%; margin-bottom: 1.5em; line-height: 1.25em;}
	.flexNav-touch .flexNav-nav,
	.flexNav-no-touch .flexNav-nav {
		display: block;
	}
	.menu-button {
		display: none;
	}
	.flexNav-nav li  {
		line-height: .6;
	}
	.flexNav-nav li.top-level {
		position: relative;
		list-style: none;
		float: left;
		width: auto;
		padding-right: 1em;
		line-height: 1.2;
	}
	.flexNav-nav li.top-level:last-child {
		padding-right: 0;
	}
	/* reset */
	.flexNav-nav, .flexNav-nav li,
	.flexNav-nav li.item-with-ul,
	.flexNav-nav .top-level a {
		background-color: transparent;
	}
	.flexNav-touch .item-with-ul {
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.flexNav-nav .item-with-ul:after,
	.flexNav-no-js .flexNav-nav .item-with-ul:after {
		content: "▼";
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		font-size: .5em;
		padding: 22px 20px;
	}
	.flexNav-nav .item-with-ul.active:after,
	.flexNav-no-js .flexNav-nav .item-with-ul.active:after {
		content: "▼";
	}
	.flexNav-nav li ul {
		width: 16em;
	}
	.sub-menu li,
	.sub-menu-no-tog li {
		opacity: .9;
	}
	.sub-menu li:first-child,
	.sub-menu-no-tog li:first-child {
		-moz-border-topleft-radius: .8em;
		-webkit-border-top-left-radius: .8em;
		border-top-left-radius: .8em;
		-moz-border-topright-radius: .8em;
		-webkit-border-top-right-radius: .8em;
		border-top-right-radius: .8em;
	}
	.sub-menu li:last-child,
	.sub-menu-no-tog li:last-child {
		-moz-border-bottomleft-radius: .8em;
		-webkit-border-bottom-left-radius: .8em;
		border-bottom-left-radius: .8em;
		-moz-border-bottomright-radius: .8em;
		-webkit-border-bottom-right-radius: .8em;
		border-bottom-right-radius: .8em;
	}
	.flexNav-nav .top-level > a {
		color: #73AA62; /* light green */
	}
	.flexNav-nav .top-level > a.selected,
	.flexNav-nav .top-level > a.selected:hover {
    color: #6b5f1a;
	}
	.flexNav-nav .top-level > a:hover {
		color: #C0413E; /* red */
	}
	.flexNav-touch .flexNav-nav li ul.sub-menu,
	.flexNav-touch .flexNav-nav li ul.sub-menu-no-tog {
		position: absolute;
		top: auto;
		left: 0;
		height: 0;
		display: none;
		z-index: 1;
	}
	.flexNav-no-touch .item-with-ul:hover > ul,
	.flexNav-no-js .item-with-ul:hover > ul 	 {
		position: absolute;
		top: 3.1em;
		visibility: visible;
		opacity: 1;
		height: auto;
		display: block;
		z-index: 2;
	}
}
